.grid
    justify-self: center
    align-self: center
    display: grid
    grid-template-columns: 1fr 1fr
    max-width: 800px
    box-shadow: 0 0 10px 0 gray

.join, .sub, .why
    padding: 2em

.join
    grid-column: span 2
    background: white
    border-radius: 10px 10px 0 0
    h1
        font-size: 1.5em
        color: $cyan
    h2
        font-size: 1.2em
        color: $bright-yellow
    p
        color: $grayish-blue

.sub

.why

    ul
        list-style: none