body
    display: flex
    height: 100vh
    align-items: center
    justify-content: center
    background: $light-gray
    padding: 5em
    font-size: 16px
    font-family: "Karla", sans-serif
    font-weight: $font-regular

h2
    font-size: 1.1em
    
    